{{!< default}}

{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#author}}


<div class="post-cover">
    <div class="post-featured-image {{#if cover_image}}" style="background-image: url({{cover_image}}){{else}}no-featured-image{{/if}}"></div>
    <div class="post-cover-content">
        {{#if profile_image}}
            <div class="author-card">
                <div class="author-portrait-container">
                    <div class="author-portrait" style="background-image: url({{profile_image}})"></div>
                </div>
                <div class="author-details-container">
                    <div class="post-title-bound">
                        {{!-- <div class="post-title-date-dummy"> --}}
                        <h1 class="post-title">{{name}}</h1>
                        {{!-- </div> --}}
                    </div>
                    <div class="post-hero-paragraph">{{bio}}</div>
                </div>
            </div>
        {{else}}
            <div class="post-title-bound">
                <div class="post-title-date-dummy">
                    <h1 class="post-title">{{name}}</h1>
                </div>
            </div>
            <div class="post-hero-paragraph">{{bio}}</div>
        {{/if}}
        {{#if website}}<div class="post-cover-author"><span class="author-trans">Web:</span> <a href="{{website}}">{{name}}</a></div>{{/if}}
    </div>
</div>
{{/author}}

<main id="site-main" class="site-main" role="main">
    <div class="inner post-content">
      <div class="post-feed">
            {{#foreach posts}}

                {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                {{> "post-preview"}}

            {{/foreach}}
        </div>  
    </div>
    <div class="inner post-meta">
        <div class="fin-hr">
            <hr>
            <span class="fin-hero">MW</span>
            <hr>
        </div>
        <div class="post-tags">
            {{tags prefix="#" separator=" #"}}
        </div>
    </div>
</main> 
